.App {
  text-align: center;
}

.app-header {
  border-bottom: 1px solid black;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 16px;
	row-gap: 16px;
	padding: 30px;
}

.header-logo {
	height: 60px;
}

.rtx-image {
	display: block;
	width: 100%;
}

.tatoo-post {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.post-bg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(47, 45, 45, 0.471);
}

.post-content {
	position: relative;
	max-width: 34%;
	background-color: black;
	display: block;
	margin: auto;
}

.post-content img {
	display: block;
	max-width: 100%;;
	margin: auto;
	margin-top: 30%;
}

.post-content h4 {
	color: white;
	padding-bottom: 20px;
}

/* 			Media			 */

@media screen and (max-width: 600px) {
	.app-grid {
		grid-template-columns: 1fr;
	}
}