.App {
  text-align: center;
}

.app-header {
  border-bottom: 1px solid black;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 16px;
	row-gap: 16px;
	padding: 30px;
}

.header-logo {
	height: 100px;
}

.rtx-image {
	display: block;
	width: 100%;
}